<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <form action="" method="post">
        {%csrf_token%}
        Rollnumber : <input type="number" name="rnum"><br><br>
        Attendence : <input type="text" name="att"><br><br>
        Mock marks : <input type="number" name="mock"><br><br>
        Test Marks : <input type="number" name="test"><br><br>
        Date : <input type="date" name="date"><br><br>
        CaseStudy : <input type="text" name="cs"><br><br>
        <input type="submit" value="insert">
    </form>
</body>
</html>