<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        stdrollno : <input type="number" name="stdnum"><br><br>
        studentdname : <input type="text" name="stdname"><br><br>
        Qualification : <input type="text" name="qfn"><br><br>
        Email : <input type="email" name="email"><br><br>
        DOJ : <input type="date" name="doj"><br><br>
        batch : <input type="text" name="btch"><br><br>
        <input type="submit" value="insert">
    </form>
    <h3><a href="{%url 'selecturl' %}">Back</a></h3>
</body>
</html>
</body>
</html>