

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

    <form action="" method="post">
        {%csrf_token%}
        Rollnumber : <input type="text" ><br><br><br>
        Date : <input type="date" name="date" value="date"><br><br><br>
        Attendence : <input type="text" name="ap" id=""><br><br><br>
        Mock Marks : <input type="text" name="mm" id=""><br><br><br>
        Test Marks : <input type="text"  name="tm"><br><br>
        <input type="submit" value="done">
    </form>
    
</body>
</html>